.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top:21px;
   -webkit-tap-highlight-color: rgba(0,0,0,0);

  .shopping-icon {
    width: 34px;
    height: 34px;
     -webkit-tap-highlight-color: rgba(0,0,0,0);
    
  }

  .item-count {
    position: absolute;
    left:23px;
    font-size: 9px;
    font-weight: bold;
    bottom: 20px;
  }
  
}