$sub-color: grey;
$main-color: black;
@import url(https://fonts.googleapis.com/css?family=Bitter);
.sign-up{
    border: solid;
   overflow:hidden;
   border-radius:5px;
   padding:10px;
}

label{
    color: $sub-color;
    font-size: 16px;
    font-weight: bold; 
    font-family:'Bitter';   
}

.group {
    margin: 4px 0;
  
    .form-input {
      background: none;
      background-color: white;
      color: $sub-color;
      font-size: 18px;
      font-family:'Bitter';
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $sub-color;
      margin: 10px 0;
      background: transparent;

    &:focus {
        outline: none;
      }
    }
 

input[type='password'] {
    letter-spacing: 0.3em;
  }
}

