.directory-menu {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(https://st4.depositphotos.com/1496387/30399/v/600/depositphotos_303997692-stock-illustration-school-seamless-background-education-science.jpg);
  }
  
  
    
    
  @media only screen and (max-width: 600px) {
  .directory-menu {
    
     
    
  }
}