 

 .checkout {
    padding:15px 15px 5px 20px;
    display: flex;
    
    .name{
      padding:20px
    }
    .img{
      height:100px;
      width:100px;
      border:solid;
    }
  }