@import url(https://fonts.googleapis.com/css?family=Bitter);
.header{
    background-color: rgb(0, 127, 146);
    height:100px ;
    display: flex;
    justify-content: space-between;

.logo1{
       padding: 20px;
        height: 40%;
        margin-top:5px;
      
    }
     
    .logo{
        margin-top:10px;
       padding: 20px;
        height: 30%;
      
    }
  


    .options{
        display: flex;
        
       
       
        justify-content: flex-end;
        
        
    }
    .option{
        padding: 1px;
         text-decoration: none;
         color:black;
         font-family: 'Bitter';
        
    }
}


   

